html,
body {
    background-image: url(../images/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    height: 95%;
    min-height: 95vh;
}

#mainContainer, #bet{
    margin-top: 20px;
}

.navbar{
    background-color: rgb(141, 138, 138);
}

.card{
    opacity: .9;
}

.home{
color: rgba(255, 99, 132);
font-weight: bold;
}

.away{
   color: rgba(75, 148, 196);
   font-weight: bold;
}

#bets-here{
    margin-top: 20px;
    color: black;
}

#slapgif{
    height: 100px;
    width: 100px;
}

#appName{
    font-family: 'Geostar', cursive;
    color: rgb(130,224,100);
    font-weight: bold;
    font-size: 100px;

}

#thumb{
    margin-top: 20px;
}

<<<<<<< HEAD
#slapgif{
    height: 100px;
    width: 100px;
}

.jumbotron{
    background-color: url("/assets/images/sportsimages/Header.jpg");
    background-size: cover;
=======
footer {
   
    bottom: -32px;
    color: #ffffff;
    text-align: center;
    border-top: 8px solid #e8ecef;
    background-color: #343a40;
    height: 90px;
    width: 100%;
   
}

#foot {
    margin-top: 10px;
    margin-bottom: 0px;  
}

.footer{
    margin-top: 5px;
    text-align: center;
    border-style: groove;
    border-color: white;
    border-width: 3px;
    vertical-align: center;
    padding-top: 10px;
    display: inline-block;
}

@media screen and (max-width: 640px) {

    
    img{
        height: 225px;
        width: 400px;
    }
>>>>>>> 63bf8e86c1b992b36e8ba29e94cb6e35db7baa27
}