#mainContainer, #bet{
    margin-top: 20px;
}

#bets-here{
    margin-top: 20px;
}

#slapgif{
    height: 100px;
    width: 100px;
}

.jumbotron{
    background-color: url("/assets/images/sportsimages/Header.jpg");
    background-size: cover;
}